h1 {
    text-align: center;
    color: blueviolet;
    font-size: 20px;
}

/*/this container includes our table and our canvas */
.center-container {
    /*This property sets the width of our container.*/
    width: 608px;
    /*This property center our container.*/
    margin: 0 auto;
    /*50px down from the top*/
    margin-top: 50px;
    /*This ensures absolute positioned children are relative to this container*/
    position: relative;
}

table {
    /* This property collapses table border into 1 border.*/
    border-collapse: collapse;
    /* This hides outer borders on table. */
    border-style: hidden;
}

td {
    /*This property changes the cursor to the index finger hand when we hover over td elements.*/
    cursor: pointer;
    /*This property sets our table border style.*/
    border: 4px solid rgba(230, 20, 167, 0.8);
    /*This property removes default padding.*/
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
    /*These properties make the background image fit perfectly in the square.*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


canvas {
    /*This property sets the position of our canvas to the top left corner of our container.*/
    position: absolute;
    /*This property places our canvas over the top of our table*/
    z-index: 10;
    /*This property makes our canvas invisible*/
    pointer-events: none;
    /*This ensures the canvas is positioned relative to the container.*/
    top: 0;
    left: 0;
}