html {
    font-size: 70%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1.2px solid #8b5cf6;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #4c1d95;
    color: #e9d5ff;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}

button {
    height: 70px;
    border-radius: 3px;
    border: 1px solid #8b5cf6;
    background-color: transparent;
    font-size: 3.2rem;
    color: #4c1d95;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(139,92,246,0.3));
    text-shadow: 0 1px rgba(233, 213, 255, .4);
    /*Each value below is separated by a comma ',' after the rgba values*/
    box-shadow: inset 0 0 0 1px rgba(233, 213, 255, .05),
                inset 0 1px 0 0 rgba(233, 213, 255, .05),
                inset 0 -1px 0 0 rgba(233, 213, 255, .05),
                0 1px 0 0 rgba(233, 213, 255, .05);
}

button:hover {
    background-color: #e9d5ff;
}

.operator {
    color: #4c1d95;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(139,92,246,0.4));
    background-color: #ddd6fe;
}

.all-clear {
    background-color: #c084fc;
    border-color: #8b5cf6;
    color: #ffffff;
}

.equal-sign {
    background-color: #7c3aed;
    border-color: #8b5cf6;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #6d28d9;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}